<section>
  <div class="section-about-me container">
    <h2 class="title-about-me">Більше про нас</h2>
    <div class="about-me-mob">
      <p class="text-about-me">
        Бренд авторських весільних прикрас ручної роботи, створених з любов’ю до
        деталей.
      </p>
      <p class="text-about-me">
        Кожен виріб виготовляється вручну — від ескізу до фінального штриха,
        поєднуючи витончену естетику та якісні матеріали.
      </p>
      <p class="text-about-me">
        Прикраси створюються індивідуально, щоб гармонійно доповнити образ
        нареченої.
      </p>
    </div>
    <div class="about-me-tablet-desktop">
      <div class="about-me-tablet-desktop-text">
        <h3>Romanenko Accessories</h3>
        <p class="about-me-tablet-text">
          Бренд авторських весільних прикрас ручної роботи з любов’ю до деталей.
          Вироби поєднують витончену естетику, якісні матеріали та
          індивідуальний дизайн.
        </p>
        <p class="about-me-text-desktop">
          Бренд авторських весільних прикрас ручної роботи, створених із любов’ю
          до деталей та щирою увагою до кожної нареченої.
        </p>
        <p class="about-me-text-desktop">
          Кожен виріб народжується вручну — від першого ескізу до фінального
          штриха, поєднуючи витончену естетику, якісні матеріали та продуманий
          дизайн.
        </p>
        <p class="about-me-text-desktop">
          Прикраси створюються з урахуванням стилю сукні, зачіски та
          індивідуальних побажань, щоб гармонійно доповнити образ і підкреслити
          природну красу нареченої.
        </p>
      </div>
      <picture>
        <source
          srcset="/img/about/about-me-desktop.webp 1x"
          type="image/webp"
          media="(min-width:1440px)"
        />

        <source
          srcset="/img/about/about-me-desktop.webp 1x"
          type="image/webp"
          media="(min-width:720px)"
        />
        <img
          class="about-me-img"
          src="/img/about/about-me-tablet.webp"
          alt="про нас"
        />
      </picture>
    </div>
  </div>
</section>
