<section class="catalog" id="catalog">
  <div class="section-catalog container">
    <div class="catalog-text">
      <h2 class="catalog-text-title">ВЕСІЛЬНІ ПРИКРАСИ</h2>
      <p>
        <span class="catalog-text-description-mobile">
          Від ніжних прикрас у волосся до витончених сережок і намист
        </span>
        <span class="catalog-text-description-tablet">
          Romanenko Accessories — витончені прикраси для особливого дня.
        </span>
        <span class="catalog-text-description-desctop"
          >Від ніжних гілочок у волосся до витончених сережок і намист — у
          каталозі Romanenko Accessories ви знайдете витончені акценти, які
          підкреслять вашу індивідуальність у найважливіший день.</span
        >
      </p>
    </div>
    <h3 class="catalog-title">Категорії</h3>
    <div class="catalog">
      <ul class="catalog-list">
        <li class="catalog-item">
          <picture>
            <source
              srcset="/img/catalog/card1/card1-desktop.webp 1x"
              type="image/webp"
              media="(min-width:1440px)"
            />

            <source
              srcset="/img/catalog/card1/card1-tablet.webp 1x"
              type="image/webp"
              media="(min-width:720px)"
            />
            <source
              srcset="/img/catalog/card1/card1.webp 1x"
              type="image/webp"
              media="(max-width:719px)"
            />
            <img
              class="catalog-img"
              src="/img/catalog/card1/card1.webp"
              alt="гілочки для волосся"
            />
          </picture>

          <div class="catalog-item-description">
            <p class="catalog-name">Гілочки для волосся</p>
            <p class="catalog-price">1000 ₴</p>
            <div class="catalog-btn-container">
              <svg class="catalog-icon" width="10" height="10">
                <use href="svg-sprite/sprite.svg#icon-logo-catalog"></use>
              </svg>
              <button type="button" class="catalog-btn">Переглянути</button>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              srcset="/img/catalog/card2/card2-desktop.webp 1x"
              type="image/webp"
              media="(min-width:1440px)"
            />

            <source
              srcset="/img/catalog/card2/card2-tablet.webp 1x"
              type="image/webp"
              media="(min-width:720px)"
            />
            <source
              srcset="/img/catalog/card2/card2.webp 1x"
              type="image/webp"
              media="(max-width:719px)"
            />
            <img
              class="catalog-img"
              src="/img/catalog/card2/card2.webp"
              alt="обручі"
            />
          </picture>

          <div class="catalog-item-description">
            <p class="catalog-name">Обручі</p>
            <p class="catalog-price">1000 ₴</p>
            <div class="catalog-btn-container">
              <svg class="catalog-icon" width="10" height="10">
                <use href="svg-sprite/sprite.svg#icon-logo-catalog"></use>
              </svg>
              <button type="button" class="catalog-btn">Переглянути</button>
            </div>
          </div>
        </li>

        <li class="catalog-item">
          <picture>
            <source
              srcset="/img/catalog/card3/card3-desktop.webp 1x"
              type="image/webp"
              media="(min-width:1440px)"
            />

            <source
              srcset="/img/catalog/card3/card3-tablet.webp 1x"
              type="image/webp"
              media="(min-width:720px)"
            />
            <source
              srcset="/img/catalog/card3/card3.webp 1x"
              type="image/webp"
              media="(max-width:719px)"
            />
            <img
              class="catalog-img"
              src="/img/catalog/card3/card3.webp"
              alt="сережки для волосся"
            />
          </picture>

          <div class="catalog-item-description">
            <p class="catalog-name">Сережки</p>
            <p class="catalog-price">1000 ₴</p>
            <div class="catalog-btn-container">
              <svg class="catalog-icon" width="10" height="10">
                <use href="svg-sprite/sprite.svg#icon-logo-catalog"></use>
              </svg>
              <button type="button" class="catalog-btn">Переглянути</button>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              srcset="/img/catalog/card4/card4-desktop.webp 1x"
              type="image/webp"
              media="(min-width:1440px)"
            />

            <source
              srcset="/img/catalog/card4/card4-tablet.webp 1x"
              type="image/webp"
              media="(min-width:720px)"
            />
            <source
              srcset="/img/catalog/card4/card4.webp 1x"
              type="image/webp"
              media="(max-width:719px)"
            />
            <img
              class="catalog-img"
              src="/img/catalog/card4/card4.webp"
              alt="намиста для волосся"
            />
          </picture>

          <div class="catalog-item-description">
            <p class="catalog-name">Намиста</p>
            <p class="catalog-price">1000 ₴</p>
            <div class="catalog-btn-container">
              <svg class="catalog-icon" width="10" height="10">
                <use href="svg-sprite/sprite.svg#icon-logo-catalog"></use>
              </svg>
              <button type="button" class="catalog-btn">Переглянути</button>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              srcset="/img/catalog/card5/card5-desktop.webp 1x"
              type="image/webp"
              media="(min-width:1440px)"
            />

            <source
              srcset="/img/catalog/card5/card5-tablet.webp 1x"
              type="image/webp"
              media="(min-width:720px)"
            />
            <source
              srcset="/img/catalog/card5/card5.webp 1x"
              type="image/webp"
              media="(max-width:719px)"
            />
            <img
              class="catalog-img"
              src="/img/catalog/card5/card5.webp"
              alt="шпильки для волосся"
            />
          </picture>

          <div class="catalog-item-description">
            <p class="catalog-name">Шпильки</p>
            <p class="catalog-price">1000 ₴</p>
            <div class="catalog-btn-container">
              <svg class="catalog-icon" width="10" height="10">
                <use href="svg-sprite/sprite.svg#icon-logo-catalog"></use>
              </svg>
              <button type="button" class="catalog-btn">Переглянути</button>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              srcset="/img/catalog/card6/card6-desktop.webp 1x"
              type="image/webp"
              media="(min-width:1440px)"
            />

            <source
              srcset="/img/catalog/card6/card6-tablet.webp 1x"
              type="image/webp"
              media="(min-width:720px)"
            />
            <source
              srcset="/img/catalog/card6/card6.webp 1x"
              type="image/webp"
              media="(max-width:719px)"
            />
            <img
              class="catalog-img"
              src="/img/catalog/card6/card6.webp"
              alt="каблучки"
            />
          </picture>

          <div class="catalog-item-description">
            <p class="catalog-name">Каблучки</p>
            <p class="catalog-price">1000 ₴</p>
            <div class="catalog-btn-container">
              <svg class="catalog-icon" width="10" height="10">
                <use href="svg-sprite/sprite.svg#icon-logo-catalog"></use>
              </svg>
              <button type="button" class="catalog-btn">Переглянути</button>
            </div>
          </div>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              srcset="/img/catalog/card7/card7-desktop.webp 1x"
              type="image/webp"
              media="(min-width:1440px)"
            />

            <source
              srcset="/img/catalog/card7/card7-tablet.webp 1x"
              type="image/webp"
              media="(min-width:720px)"
            />
            <source
              srcset="/img/catalog/card7/card7.webp 1x"
              type="image/webp"
              media="(max-width:719px)"
            />
            <img
              class="catalog-img"
              src="/img/catalog/card7/card7.webp"
              alt="гребінці"
            />
          </picture>

          <div class="catalog-item-description">
            <p class="catalog-name">Гребінці</p>
            <p class="catalog-price">1000 ₴</p>
            <div class="catalog-btn-container">
              <svg class="catalog-icon" width="10" height="10">
                <use href="svg-sprite/sprite.svg#icon-logo-catalog"></use>
              </svg>
              <button type="button" class="catalog-btn">Переглянути</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
