<footer class="footer-container">
  <div class="container-footer container">
    <div class="footer-link">
      <div class="footer-nav">
        <a class="footer-nav-link" href="">Каталог</a>
        <a class="footer-nav-link" href="">Про бренд</a>
        <a class="footer-nav-link" href="">Відгуки</a>
      </div>
      <svg class="logo" width="90" height="50">
        <use href="svg-sprite/sprite.svg#icon-logo"></use>
      </svg>
      <div class="footer-contact">
        <p>КОНТАКТИ</p>
        <div class="footer-contact-link">
          <a
            target="_blank"
            href="https://www.instagram.com/romanenko__accessories?igsh=d3J0ZWo2ejFybm4x"
            ><svg class="icon" width="24" height="24">
              <use href="svg-sprite/sprite.svg#icon-instagram"></use></svg></a
          ><a href=""
            ><svg class="icon" width="24" height="24">
              <use href="svg-sprite/sprite.svg#icon-phone"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <p class="footer-text">© 2026 Всі права захищені</p>
</footer>
