<header class="header">
  <div class="header-container container">
    <button type="button" class="menu-button">
      <svg class="icon" width="24" height="24">
        <use href="svg-sprite/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <a href="#">
      <svg class="logo" width="60" height="32">
        <use href="svg-sprite/sprite.svg#icon-logo1"></use>
      </svg>
    </a>
    <nav class="nav-links">
      <ul class="nav-link-list">
        <li><a class="nav-link" href="#catalog">Каталог</a></li>
        <li><a class="nav-link" href="#about-me">Про бренд</a></li>
        <li><a class="nav-link" href="#reviews">Відгуки</a></li>
      </ul>
    </nav>
    <ul class="list-links">
      <li>
        <a
          target="_blank"
          href="https://www.instagram.com/romanenko__accessories?igsh=d3J0ZWo2ejFybm4x"
          ><svg class="icon" width="24" height="24">
            <use href="svg-sprite/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="http://"
          ><svg class="icon" width="24" height="24">
            <use href="svg-sprite/sprite.svg#icon-phone"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
