<header class="header">
  <div class="header-container container">
    <button class="menu-button">
      <svg class="icon" width="24" height="24">
        <use href="svg-sprite/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <svg class="logo" width="60" height="32">
      <use href="svg-sprite/sprite.svg#icon-logo1"></use>
    </svg>
    <ul class="list-links">
      <li>
        <a href="http://"
          ><svg class="icon" width="24" height="24">
            <use href="svg-sprite/sprite.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li>
        <a href="http://"
          ><svg class="icon" width="24" height="24">
            <use href="svg-sprite/sprite.svg#icon-phone"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
