<section class="container">
  <div class="hero-container">
    <h1 class="hero">
      <span class="title-mobile"
        >Romanenko Accessories — ідеальні прикраси</span
      >
      <span class="title-tablet"
        >Ваша неповторна прикраса для найважливішого дня</span
      >
    </h1>
    <p class="hero-title-text">
      Romanenko Accessories — витончені весільні прикраси ручної роботи для
      вашої особливої історії.
    </p>
    <button class="hero-btn">Обери свою красу</button>
  </div>
  <div class="hero-text">
    <h2 class="hero-text-title">ВЕСІЛЬНІ ПРИКРАСИ</h2>
    <p>
      <span class="hero-text-description-mobile">
        Від ніжних прикрас у волосся до витончених сережок і намист
      </span>
      <span class="hero-text-description-tablet">
        Romanenko Accessories — витончені прикраси для особливого дня.
      </span>
    </p>
  </div>
</section>
