<section>
  <div class="section-container container">
    <div class="hero-container">
      <h1 class="hero">
        <span class="title-mobile"
          >Romanenko Accessories — ідеальні прикраси</span
        >
        <span class="title-tablet"
          >Ваша неповторна прикраса для найважливішого дня</span
        >
      </h1>
      <p class="hero-title-text-tablet">
        Romanenko Accessories — витончені весільні прикраси ручної роботи для
        вашої особливої історії.
      </p>
      <p class="hero-title-text-desktop">
        Romanenko Accessories — це витончені весільні прикраси ручної роботи,
        створені з любов’ю до деталей та вашої особливої історії.
      </p>
      <button class="hero-btn">Обери свою красу</button>
    </div>
  </div>
</section>
