<section class="instagram" id="instagram">
  <div class="instagram container">
    <h2>
      <span class="insta-title-mob">Більше прикрас в Instagram!</span>
      <span class="insta-title-tablet">Наші прикраси в Instagram!</span>
      <span class="insta-title-desktop"
        >Дізнайтеся більше про наші прикраси в instagram!</span
      >
    </h2>
    <p>
      <span class="insta-text-tablet"
        >Світ стилю та естетики для вашої індивідуальності. Знаходьте ідеальні
        рішення в Instagram.</span
      ><span class="insta-text-desktop"
        >Там на вас чекає світ стилю та естетики, що підкреслить вашу
        індивідуальність. Переходьте в Instagram та знаходьте ідеальні рішення
        для свого образу вже зараз.</span
      >
    </p>
    <a
      class="insta-link"
      href="https://www.instagram.com/romanenko__accessories?igsh=d3J0ZWo2ejFybm4x"
      target="_blank"
    >
      <span class="insta-text-link-tablet">Перейти до Instagram</span>
      <span class="insta-text-link-mob">Увійти</span></a
    >
  </div>
</section>
