<section class="mission" id="mission">
  <div class="mission-container container">
    <h2>
      <span class="title-mission-mob">Місія</span
      ><span class="title-mission-tablet">Наша місія</span>
    </h2>
    <p>
      <span class="mission-text-mob"
        >Місія створювати прикраси, що дарують емоції, підкреслюють унікальність
        нареченої та стають символом краси й любові.</span
      >
      <span class="mission-text-tablet"
        >Місія Romanenko Accessories — створювати не лише прикраси, а особливі
        емоції у важливі моменти життя. Кожна наречена відчуває ніжність,
        впевненість і унікальність у день весілля.</span
      >
      <span class="mission-text-desktop"
        >Місія Romanenko Accessories створювати не лише прикраси, а особливі
        емоції та відчуття у найважливіші моменти життя. Ми прагнемо, щоб кожна
        наречена відчувала ніжність, впевненість, гармонію та власну
        унікальність у день весілля. Через увагу до деталей, ручну роботу та
        індивідуальний підхід ми допомагаємо створити атмосферу особливості, де
        кожна прикраса стає символом краси, любові та незабутніх спогадів.</span
      >
    </p>
  </div>
</section>
