<div class="mob-menu">
  <div class="mob-menu-container container">
    <div class="logo-container">
      <a href="#">
        <svg class="logo-menu" width="60" height="32">
          <use href="svg-sprite/sprite.svg#icon-logo1"></use>
        </svg>
      </a>
      <button class="btn-menu-close" type="button">
        <svg class="logo-menu" width="24" height="24">
          <use href="svg-sprite/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="nav-links-menu">
      <ul class="nav-link-list-menu">
        <li class="nav-link-menu"><a href="#about-me">Про нас</a></li>
        <li class="nav-link-menu"><a href="#reviews">Відгуки</a></li>
      </ul>
    </nav>
    <a
      class="link-instagram"
      target="_blank"
      href="https://www.instagram.com/romanenko__accessories?igsh=d3J0ZWo2ejFybm4x"
      >Більше прикрас в Instagram</a
    >

    <div class="contact-menu">
      <p>КОНТАКТИ</p>
      <div class="contact-links-menu">
        <a
          target="_blank"
          href="https://www.instagram.com/romanenko__accessories?igsh=d3J0ZWo2ejFybm4x"
          ><svg class="icon" width="24" height="24">
            <use href="svg-sprite/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a href=""
          ><svg class="icon" width="24" height="24">
            <use href="svg-sprite/sprite.svg#icon-phone"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
