<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Відгуки</h2>

    <div class="reviews-slider">
      <div class="slider-wrapper">
        <ul class="slider-track"></ul>
      </div>
    </div>

    <div class="slider-controls">
      <button class="slider-btn prev">
        <svg class="icon" width="20" height="27">
          <use href="svg-sprite/sprite.svg#icon-icon-left"></use>
        </svg>
      </button>
      <button class="slider-btn next">
        <svg class="icon" width="20" height="27">
          <use href="svg-sprite/sprite.svg#icon-icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
