.section-catalog.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.catalog-text {
  text-align: center;
  margin-bottom: 50px;
}
.catalog-text-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 10px;
}
.catalog-text-description-mobile {
  font-size: 14px;
  text-align: center;
}

.catalog-text-description-tablet {
  display: none;
}

.catalog-text-description-desctop {
  display: none;
}

.catalog-title {
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.catalog {
  display: flex;
  justify-content: center;
}
/* .catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 16px;
} */

.catalog-list {
  display: grid;
  gap: 30px 16px;
  grid-template-columns: repeat(2, 1fr);
}
.catalog-item {
  background-color: #ffffff;
}
.catalog-img {
}

.catalog-item-description {
  padding: 0px 2px;
  padding-bottom: 12px;
}
.catalog-name {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.catalog-price {
  font-size: 10px;
  margin-bottom: 12px;
}

.catalog-btn-container {
  display: flex;
  align-items: center;
}

.catalog-btn {
  background-color: transparent;
  border: none;
  font-size: 12px;
}

@media screen and (min-width: 720px) {
  .catalog-text {
    padding: 80px 116px;
    margin: 0;
  }

  .catalog-text-title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .catalog-text-description-mobile {
    display: none;
  }
  .catalog-text-description-tablet {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .catalog-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-name {
    font-size: 16px;
  }

  .catalog-price {
    font-size: 14px;
  }

  .catalog-icon {
    width: 16px;
    height: 16px;
  }

  .catalog-btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog-text-title {
    font-size: 32px;
  }

  .catalog-text {
    padding-left: 250px;
    padding-right: 250px;
  }

  .catalog-text-description-mobile {
    display: none;
  }

  .catalog-text-description-tablet {
    display: none;
  }

  .catalog-text-description-desctop {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .catalog-title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 60px;
  }

  .catalog-list {
    gap: 50px 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-img {
    margin-bottom: 16px;
  }

  .catalog-name {
    font-size: 20px;
    margin-bottom: 12px;
    margin-left: 8px;
  }
  .catalog-price {
    font-size: 16px;
    margin-bottom: 24px;
    margin-left: 8px;
  }
  .catalog-btn-container {
    margin-left: 8px;
  }

  .catalog-icon {
    width: 20px;
    height: 20px;
  }
}
