.section-catalog.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.catalog-text {
  text-align: center;
  margin-bottom: 50px;
}
.catalog-text-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 10px;
}
.catalog-text-description-mobile {
  font-size: 14px;
  text-align: center;
}

.catalog-text-description-tablet {
  display: none;
}

.catalog-title {
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.catalog {
  display: flex;
}
.catalog-list {
}
.catalog-item {
  background-color: #ffffff;
}
.catalog-img {
}

.catalog-item-description {
  padding: 0px 2px;
  padding-bottom: 12px;
}
.catalog-name {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.catalog-price {
  font-size: 10px;
  margin-bottom: 12px;
}

.catalog-btn-container {
  display: flex;
  align-items: center;
}

.catalog-btn {
  background-color: transparent;
  border: none;
  font-size: 12px;
}

@media screen and (min-width: 720px) {
  .catalog-text {
    padding: 80px 116px;
  }

  .catalog-text-title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .catalog-text-description-mobile {
    display: none;
  }
  .catalog-text-description-tablet {
    display: block;
    min-width: 488px;
    font-size: 16px;
    text-align: center;
  }
}
