body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8f9;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 452px;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p {
  color: #2a2529;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.icon {
  display: block;
  fill: none;
  stroke: #2a2529;
}

.logo {
  fill: #2a2529;
  stroke: none;
  shape-rendering: geometricPrecision;
}

button {
  color: #2a2529;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
