body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8f9;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 375px;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
p {
  color: #2a2529;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.icon {
  display: block;
  fill: none;
  stroke: #2a2529;
}

.logo {
  fill: #2a2529;
  stroke: none;
  shape-rendering: geometricPrecision;
}

button {
  color: #2a2529;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #2a2529;
}

@media screen and (min-width: 720px) {
  .container {
    max-width: 720px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}
