.footer-container {
  padding: 40px 0px;
  background-color: #ffffff;
  border-top: 2px solid #d1a9ad;
}

.container-footer {
  margin-bottom: 40px;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-link {
  font-size: 10px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-contact p {
  font-size: 12px;
}

.footer-contact-link {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-text {
  font-size: 8px;
  text-align: center;
}

.footer-link a:active .logo {
  transform: scale(0.9);
}

.footer-nav-link:active {
  text-decoration: underline;
}

.footer-contact-link a:active .icon {
  transform: scale(0.8);
}

@media screen and (min-width: 720px) {
  .footer-container {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .footer-link {
    justify-content: space-around;
  }

  .footer-link .logo {
    width: 178px;
    height: 102px;
  }
  .footer-nav {
    gap: 30px;
  }
  .footer-nav-link {
    font-size: 14px;
  }

  .footer-contact {
    gap: 30px;
  }

  .footer-contact p {
    font-size: 14px;
  }

  .footer-contact-link {
    gap: 30px;
  }
  .footer-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-footer {
    margin-bottom: 60px;
  }

  .footer-nav-link {
    font-size: 16px;
  }
  .footer-link .logo {
    width: 180px;
    height: 120px;
  }
  .footer-contact p {
    font-size: 16px;
  }

  .footer-text {
    font-size: 16px;
  }

  .footer-nav-link:hover {
    text-decoration: underline;
  }

  .footer-link a .logo {
    transition: transform 250ms ease;
  }

  .footer-contact-link a .icon {
    transition: transform 250ms ease;
  }

  .footer-contact-link a:hover .icon {
    transform: scale(1.2);
    stroke: #d1a9ad;
  }
}
