.header {
  padding: 13px 16px;
  max-width: 425px;
  margin: 0 auto;
}

.header-container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  background: none;
  border: none;
  padding: 0;
}

.logo {
}

.list-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
