.hero-section {
  padding-top: 60px;
}

.section-container.container {
  padding: 0;
}

.hero-container {
  background-image: url("/img/hero/mob.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 82px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hero {
  color: #f7f8f9;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.title-tablet {
  display: none;
}

.hero-title-text-tablet {
  display: none;
}

.hero-title-text-desktop {
  display: none;
}

.hero-btn {
  padding: 5px 12px;
  font-size: 16px;
  line-height: 100%;
}

@media screen and (min-width: 720px) {
  .container {
  }

  .hero-container {
    background-image: url("/img/hero/tablet.webp");
    padding: 120px 64px;
  }

  .hero {
    font-size: 24px;
  }

  .title-mobile {
    display: none;
  }

  .title-tablet {
    display: block;
    min-width: 524px;
    font-size: 32px;
    line-height: 1.2;
  }
  .hero-title-text {
    max-width: 478px;
    display: inline;
    color: #f7f8f9;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .hero-btn {
    padding: 12px 47px;
    font-size: 16px;
    line-height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
  }
  .hero-container {
    background-image: url("/img/hero/desktop.webp");
    padding: 312px 196px;
  }

  .title-tablet {
    width: 1046px;
    font-size: 48px;
    line-height: 1.2;
  }

  .hero-title-text-tablet {
    display: none;
  }

  .hero-title-text-desktop {
    width: 700px;
    display: block;
    color: #f7f8f9;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 1.2;
  }
}
