.mob-menu {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  /* transform: translateX(100%);
  transition:
    transform 300ms ease,
    opacity 300ms ease,
    visibility 300ms ease; */
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  /* transform: translateX(0); */
}

.mob-menu.is-open .mob-menu-container {
  transform: translateX(0);
}

.mob-menu-container {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #e0cdcf;
  transform: translateX(100%);
  transition: transform 600ms ease;
}
.logo-container {
  display: flex;
  justify-content: space-between;
}

.btn-menu-close {
  display: block;
  width: fit-content;
  background-color: transparent;
  border: none;
}

.btn-menu-close:active .logo-menu {
  transform: scale(0.85);
}

.logo-menu {
  display: block;
  transition: transform 150ms ease;
}

.nav-links-menu {
  margin-top: 50px;
  margin-bottom: 36px;
}
.nav-link-list-menu {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.nav-link-menu {
  width: 328px;
  background-color: #ffffff;
  /* padding: 8px; */
  /* color: #2a2529; */
}

.nav-link-menu:active {
  transform: scale(0.95);
}

.nav-link-menu a {
  display: block;
  padding: 8px;
  width: 100%;
  color: #2a2529;
}

.link-instagram {
  display: block;
  margin: 0 auto;
  width: 328px;
  background-color: #ffffff;
  padding: 8px;
  text-align: center;
}

.link-instagram:active {
  transform: scale(0.95);
}

.contact-menu {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-menu p {
  font-size: 18px;
}

.contact-links-menu {
  display: flex;
  gap: 20px;
}

.contact-links-menu a:active .icon {
  transform: scale(0.85);
}

.logo-container a:active .logo-menu {
  transform: scale(0.9);
}
