.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews-title {
  text-align: center;
  margin-bottom: 10px;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
  padding: 2px;
}

.slide {
  padding: 2px;
  flex: 0 0 50%; /* 2 картинки */
}

.slide img {
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.slider-btn.prev {
  border: none;
  background-color: transparent;
}

.slider-btn.next {
  border: none;
  background-color: transparent;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease;
  touch-action: pan-y;
}

.slider-btn:active .icon {
  stroke: #d1a9ad;
  transform: scale(0.95);
}

@media screen and (min-width: 720px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviews-title {
    margin-bottom: 32px;
  }
  .slide {
    flex: 0 0 25%; /* 4 */
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .reviews-title {
    font-size: 32px;
  }

  .slider-btn:hover .icon {
    cursor: pointer;
    stroke: #d1a9ad;
  }
}
