/* базові стилі */

@import url("./common.css");

/* стилі блоків */

@import url("./header.css");
@import url("./hero.css");
@import url("./catalog.css");
@import url("./about-me.css");
@import url("./mob-menu.css");
@import url("./footer.css");
